<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Avaliação Formadora I Tarefa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense"> 
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Rafael Pinto <br> PAS23103|BS|N|ADS0302N</strong>
    <p>Matrícula  <a target="_blank" rel="noopener noreferrer" href="">22203712</a></p>
    <img src="../assets/img.jpg" alt="Descrição da imagem">
  </div>

</ion-content>
